<!DOCTYPE html>
<html lang="en">

<head>
    <title>Online Tournment</title>
    <link href="../img/favicon.png" rel="icon">
    <link rel="stylesheet" type="text/css" href="../css/authStyles.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <img class="wave" src="../img/wave.png">
    <div class="container">
        <div class="img">
            <img src="../img/bg.svg">
        </div>
        <div class="login-content">
            <form action="index.html">
                <img src="../img/avatar.svg">
                <h2 class="title">Forgot Password</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-at"></i>
                    </div>
                    <div class="div">
                        <h5>Email</h5>
                        <input type="text" class="input" id="emailInput">
                    </div>
                </div>
                <a href="./login.html">Already have an account?</a>
                <a href="./register.html">Don't have an account??</a>
                <a href="./index.html">Go Back?</a>
                <input type="submit" class="btn" id="btnForgotPwd" value="Recover password">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/controllers/forgotPassword.js"></script>
</body>

</html>